.transparentInput{
  width: 150px;
  margin: 0 auto;
}
.transparentInput  input {
    border: none !important;
    background-color: none !important;
    outline: 0 !important;
    text-align: center;
    width: 100% !important;
  }

.transparentInput input:focus {
    border: none !important;
    /* width: fit-content !important; */
    width: 100% !important;

    background-color: none !important;
    outline: 0 !important;
  }